/**
        *** CSS needed for functionality plugin
*/

/* Fade Out Text When Previewing Subscriber Content
Selects the first paragraph by using the '>' for specificity.  */
.pmpro-no-access .entry-content > p {
	-webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5)); /* Standard property for compatibility */
}


/* PMPRo login/out icon on main nav heading */
#main-header a.header-account-button {
	font-family: Barlow, sans-serif;
	font-weight: 600;
	font-size: 20px;
}
#main-header a.header-account-button:hover {
	color: rgb(13,242,50);
}
/* End: PMPRo login/out on main nav heading */


/* Hide the customer billing and shipping address fields on the User profile page */
#customer_billing_address_wrapper,
#customer_shipping_address_wrapper {
    transition: opacity 0.3s ease;
}

.hidden {
    opacity: 0;
}
/* END: Hide the customer billing and shipping address fields on the User profile page */
